/*value         |0px     600px    960px    1280px   1920px*/
/*key           |xs      sm       md       lg       xl*/
/*screen width  |--------|--------|--------|--------|-------->*/
/*range         |   xs   |   sm   |   md   |   lg   |   xl*/

@media (min-width: 600px) {
    .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        max-height: 100vh;
        z-index: 100;
        padding: 40px 20px 20px;
        background-color: #fafafa;
    }
}
